.inline-icon {
  height: 5cm;
  width: 5cm;
  justify-self: center;
  align-self: center;
  margin-right: 0.2em;
}

.page-header {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

ul {
  list-style-type: none;
  padding-left: 0px;

  input {
    margin-right: 1em;
  }
}

.btn .icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
  background-size: cover;
}
